<div class="container">
    <div class="mt-4">
        <form class ="form-inline" #repoform='ngForm'>
            <div class="form-group">
                <input type="text" class="form-control"[(ngModel)]="userName" name="userName" (keyup)="getUserRepositories()" placeholder="Enter a repository name" required>
            </div>
        </form>
    </div>
</div>
<div class ="container">
    <div class = "row">
        <div class = "col-md-6" *ngFor ='let repo of repos'>
            <hr>
            <h3>{{repo.name}}</h3>
            <p>{{repo.description}}</p>
            <p>{{repo.created_at | date:'medium'}}</p>
            <a class = "btn btn-info" href = {{repo.html_url}}>Go to Repo!</a>
        </div>
    </div>
</div>
